{% extends "base.html" %}

{% block body %}
<div class="row m-t-b">
    <h1>Get started in seconds</h1>
</div>

<div class="row m-t-m">
    
    <div class="col-sm-4">
        <img data-src="/static/components/holder/holder.js?128x128">
        <h3 class="m-t-xs">Foo</h3>
    </div>

    <div class="col-sm-4">
        <img data-src="/static/components/holder/holder.js?128x128">
        <h3 class="m-t-xs">Bar</h3>
    </div>
    
    <div class="col-sm-4">
        <img data-src="/static/components/holder/holder.js?128x128">
        <h3 class="m-t-xs">Dim sum</h3>
    </div>    
</div>

<div class="row m-t-m">
    <div class="col-sm-offset-4 col-sm-4">
        <hr>
    </div>
</div>

<div class="row m-t-m">
    <h4>Features</h4>
</div>

<div class="row m-t-m">
    <div class="col-sm-offset-2 col-sm-8">
        <ul class="media-list">
            <li class="media m-t-m text-left">
                <a class="pull-left" href="#">
                    <img class="media-object thumbnail" data-src="/static/components/holder/holder.js?256x192">
                </a>
                <div>
                    <h2 class="text-left">Feature 1</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                        lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </li>
            <li class="media m-t-m text-right">
                <a class="pull-right" href="#">
                    <img class="media-object thumbnail" data-src="/static/components/holder/holder.js?256x192">
                </a>
                <div class="media-body">
                    <h2>Feature 2</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                        lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </li>
            <li class="media m-t-m text-left">
                <a class="pull-left" href="#">
                    <img class="media-object thumbnail" data-src="/static/components/holder/holder.js?256x192">
                </a>
                <div class="media-body">
                    <h2>Feature 3</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit 
                        lobortis nisl ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row m-t-m">
    <div class="col-sm-offset-4 col-sm-4">
        <hr>
    </div>
</div>

<div class="row m-t-m m-b-b">
    <h1>Sign up!</h1>
    <div class="col-sm-offset-3 col-sm-6">
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        </p>
    </div>
    <form role="form">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6 m-t-s m-b-s">
                <input class="input-lg text-center form-control" type="text" placeholder="Email" length="32">
            </div>
        </div>
        <button class="input-lg btn btn-success">Sign up</button>
        
    </form>
</div>

{% endblock %}