{% extends "base.html" %}

{% block body %}
<div class="container site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            
            <div class="inner cover">
    
                <h1 class="cover-heading">YourApp</h1>
                <p class="lead">
                    Random text here!
                </p>
                <p class="lead">
                    <a href="/explore" class="btn btn-lg btn-success">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}